.backgroundopen{
    background-color: rgb(196, 206, 203);
}
.cancelledgrey{
    background-color: gray;
}
.Inactiveuser{
    background-color: rgb(170, 112, 112);
}
.Paddingbackground{
    background-color: rgb(192, 192, 125);
}