@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins:wght@100;200&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-family: 'Jost',sans-serif;
font-family: 'Poppins',sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background1{
  background-color: #a3a2a3;
}
.inputsection {
  border: 1px solid #adadad;
}
.color1 {
  color: #1E3B8B
}

.color2 {
  color: #505D66
}

.color3 {
  color: #00006A;
}
.colorblack{
  color: #000;
}

.star {
  color: #FF0404;
  font-weight: bold;
}

.bgupdata {
  background: #D7F2FD !important;
}

.bgtime {
  background: #c9cccccc !important;

}

.pointerss {
  cursor: pointer !important;
}

.bordercolor {
  border: 1px solid #000;
}